# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\VS Code\Django\Intern_Selection\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
